<div class="container">
  
  <h1 class="my-3">CRUD Empresa</h1>
 
  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a routerLink="/empresa/create" class="btn btn-success right">Criar nova empresa</a>
  </div>
  
  <div class="table-responsive m-3">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Endereço</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.id }}</td>
        <td>{{ empresa.nome }}</td>
        <td>{{ empresa.cnpj }}</td>
        <td>{{ empresa.endereco }}</td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a [routerLink]="['/empresa/', empresa.id, 'view']" class="btn btn-info btn-sm">Detalhes</a>
            <a [routerLink]="['/empresa/', empresa.id, 'update']" class="btn btn-primary btn-sm">Editar</a>
            <button type="button" href="#" (click)="deleteEmpresa(empresa.id)" class="btn btn-danger btn-sm">Deletar</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
