<div class="container">
  <h1 class="m-3">Criar Nova Empresa</h1>
 
  <a routerLink='/funcionarios' class="btn btn-primary">Voltar</a>
       
  <form [formGroup]="form" (ngSubmit)="submit()">
 
      <div class="form-group">
          <label for="login">Login:</label>
          <input
              formControlName="login"
              id="login"
              type="text"
              class="form-control" required>
          <div *ngIf="f['login'].touched && f['login'].invalid" class="alert alert-danger">
              <div *ngIf="f['login'].errors && f['login'].errors['required']">Login é obrigatório.</div>
          </div>
      </div>

      <div class="form-group">
          <label for="nome">Nome:</label>
          <input
              formControlName="nome"
              id="nome"
              type="text"
              class="form-control" required>
          <div *ngIf="f['nome'].touched && f['nome'].invalid" class="alert alert-danger">
              <div *ngIf="f['nome'].errors && f['nome'].errors['required']">Nome é obrigatório.</div>
          </div>
      </div>
 
      <div class="form-group">
          <label for="cpf">CPF</label>
          <textarea
              formControlName="cpf"
              id="cpf"
              type="text"
              class="form-control">
          </textarea>
          <div *ngIf="f['cpf'].touched && f['cpf'].invalid" class="alert alert-danger">
              <div *ngIf="f['cpf'].errors && f['cpf'].errors['required']">CPF é Obrigatório.</div>
          </div>
      </div>
 
      <div class="form-group">
        <label for="email">Email</label>
        <textarea
            formControlName="email"
            id="email"
            type="text"
            class="form-control">
        </textarea>
        <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email é Obrigatório.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="senha">Senha</label>
        <textarea
            formControlName="senha"
            id="senha"
            type="text"
            class="form-control">
        </textarea>
        <div *ngIf="f['senha'].touched && f['senha'].invalid" class="alert alert-danger">
            <div *ngIf="f['senha'].errors && f['senha'].errors['required']">Senha é Obrigatório.</div>
        </div>
    </div>


      <div class="form-group">
        <label for="endereco">Endereço</label>
        <textarea
            formControlName="endereco"
            id="endereco"
            type="text"
            class="form-control">
        </textarea>
        <div *ngIf="f['endereco'].touched && f['endereco'].invalid" class="alert alert-danger">
            <div *ngIf="f['endereco'].errors && f['endereco'].errors['required']">Endereço é obrigatótio.</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Criar</button>
  </form>
</div>
