<div class="container">
  <h1 class="m-3">Adicionar Empresa</h1>
 
  <a routerLink='/funcionario/{{ id }}/view/' class="btn btn-primary">Voltar</a>
       
  <form [formGroup]="form" (ngSubmit)="submit()">
 
      <div class="form-group">
          <label for="empresa_id">Id Empresa:</label>
          <input formControlName="empresa_id"
              id="empresa_id"
              type="text"
              class="form-control" required>
          <div *ngIf="f['empresa_id'].touched && f['empresa_id'].invalid" class="alert alert-danger">
              <div *ngIf="f['empresa_id'].errors && f['empresa_id'].errors['required']">Empresa_id é obrigatório.</div>
          </div>
      </div>

      <input formControlName="empresa_id" id="empresa_id" type="hidden" value="{{id}}"  class="form-control">
      
      
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Adicionar</button>
  </form>
</div>